__pycache__/
*.py[cod]
.idea/
venv/
.venv/
.mypy_cache/
.vscode
.ruff_cache/
.pytest_cache/
migrations/

db.sqlite3
db.sqlite3-journal
db.sqlite3-shm
db.sqlite3-wal
*.sqlite3

logs/
*.log

web/node_modules/
web/dist/
web/dist-ssr/
web/stats.html
web/coverage/
web/*.local

deploy/sample-picture/1.jpg
deploy/sample-picture/2.jpg
deploy/sample-picture/3.jpg
deploy/sample-picture/group.jpg

.DS_Store
._.DS_Store
